{% extends 'base.html.twig' %}

{% block title %}Nos Exposition{% endblock %}
{% block meta %}Nos Expositions{% endblock %}


{% block body %}
    <section class="min-vh-100">
        <div class="jumbotron text-center">
            <h1 class="display-4">Nos Expositions</h1>
            <p class="lead"></p>
            <hr class="my-4">
            <p>Découvrez nos oeuvres grâce à nos expositions ! Toutes les informations sont à votre disposition.</p>
            {% include 'inc/flashes.html.twig' %}
        </div>
        <div class="row flex-column m-5">
            {% for expo in expositions %}
                <div class="card m-4">
                    <div class="card-header">
                        {{ expo.name }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ expo.name }}</h5>
                        <p class="card-text">{{ expo.description }}</p>
                       {# <p>{{ expo.date | format('d/m/Y'}}</p>#}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}


{% block script %}

{% endblock %}